@media (min-width: 360px) and (max-width: 767px) {
    .search-magazines {
        height: 50px;
        background-color: var(--grey3);
        border-radius: 8px;
        display: flex;
        align-items: center;
        width: 200px;
        margin-left: auto;
        margin-top: 20px;
    }
    
    .search-magazines input {
        width: 82px;
        height: 50px;
        background: none;
        border: none;
        font-family: 'Poppins', sans-serif;
        padding-left: 25px;
        outline: none;
    
    }
    
    .search-magazines img {
        width: 18px;
        margin-right: 25px;
        margin-left: auto;
    }
    
    .select-links{
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: end;
        gap: 31px;
    }

    .category-select{
        width: 85px;
        height: 30px;
        border-radius: 8px;
        border: none;
        background-color: var(--grey3);
        color: var(--grey2);
        outline: none;
        font-size: 14px;
        font-weight: 500;
    }

    .store-info{
        font-size: 12px;
    }

}




