* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
    
  :root {
    --blue: rgb(73, 133, 222);
    --white: #fff;
    --black: #333;
    --grey: #e4e3e3;
    --grey2: #8f8f8f;
    --shadow: #929292;
  }

  main {
    width: 100%;
    height: 100vh;
  }

  section {
    width: 100%;
    height: 100vh;
}
  
  #loginInputContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
  }

  .autopart-logo {
    width: 200px;
  }
  
  .login-center-text {
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
  }
  
  .welcome-back-text {
    font-size: 20px;
    color: var(--shadow);
  }
  
  .password-text-input {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  label {
    margin-bottom: 8px;
  }
  
  .password-input {
    width: 420px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: rgb(241, 241, 241);
    outline: none;
    padding-left: 25px;
    font-size: 15px;
  }

  .password-input{
    padding-bottom: 3px;
  }
  
  
  .password-input::placeholder{
    color: #b7b7b7;
  }
    
  .login-button {
    width: 420px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    margin-top: 20px;
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
  }
