@media (min-width: 752px) and (max-width: 880px) {
    .email-input,
    .password-input {
        width: 300px;
        padding-left: 15px;
    }

    .remember-me-or-forget-password {
        width: 300px;
    }

    .login-button {
        width: 300px;
    }

    .logo-text-container {
        padding-left: 50px;
    }
}

@media (min-width: 450px) and (max-width: 752px) {
    .email-input,
    .password-input {
        width: 420px;
        padding-left: 15px;
    }

    .remember-me-or-forget-password {
        width: 420px;
    }

    .login-button {
        width: 420px;
    }

    .logo-text-container {
        margin-top: 20px;
        padding-left: 0px;
    }
}

@media (min-width: 401px) and (max-width: 450px){
    .email-input,
    .password-input {
        width: 300px;
        padding-left: 15px;
    }

    .remember-me-or-forget-password {
        width: 300px;
    }

    .login-button {
        width: 300px;
    }

    #loginInputContainer {
        display: flex;
        padding-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .logo-text-container{
        width: 300px;
    }
}

@media (min-width: 280px) and (max-width: 401px)