      {% load static %}
      
      <!-- Footer -->
      <footer  class="footer text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row-hr  main-footer " >
                <!--Grid column-->
                <div class="col-auto">
                  <p class="pt-2">
                    <strong class="Follow">Follow us on :</strong>
                    <a href=""><img style class="facebook-img" src="{% static 'images/facebook.png' alt='' %}"></a>
                    <a href=""><img class="facebook-img" src="{% static 'images/twitter.png'  %}"></a>
                  </p>
                
                </div>
                <div class="hr-footer">
                  
  
                </div>
                
                <p  class="pt-2">
                  Driving-Tests.org is a privately owned website that is not affiliated with or operated by any state government agency.
                </p> 
                
                <!--Grid column-->
  
                <!--Grid column-->
                <div class="col-md-5 col-12">
                  
                </div>
                <!--Grid column-->
  
                <!--Grid column-->
                <div class="col-auto">
                  
                </div>
                <!--Grid column-->
              </div>
              
              <!--Grid row-->
            </form>
          
          </section>
          <!-- Section: Form -->
  
          <!-- Section: Text -->
          
          <!-- Section: Text -->
  
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row footer-text ">
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0 car-text"mio >
                <h5  class="text-uppercase">car</h5>
  
                <ul  class="list-unstyled ;mb-0">
                  <li>
                    <a href="#!" class="text">DMV Road Test FAQ</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Learner's Permit FAQ</a>
                  </li>
                  <li>
                    <a href="#!" class="text">DMV Handbook</a>
                  </li>
                  <li>
                    <a href="#!" class="text">DMV Study Guide</a>
                  </li>
                  <li>
                    <a href="#!" class="text">DMV Practice Test</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Driving Tests for Teenagers</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Driving Tests for Seniors</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Driving Tests for License Renewal</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Driving Tests for New Arrivals</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Driving Tests for License Transfer</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Upgrade to Premium</a>
                  </li>
                  
                </ul>
              </div>
              <!--Grid column-->
  
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">COMMERCIAL</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text">CDL Practice Test</a>
                  </li>
                  <li>
                    <a href="#!" class="text">CDL Manual</a>
                  </li>
                  <li>
                    <a href="#!" class="text">CDL License FAQ</a>
                  </li>
                  <li>
                    <a href="#!" class="text">CDL Requirements</a>
                  </li>
                  <li>
                    <a href="#!" class="text">How to Find CDL Drivers</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Upgrade to CDL Premium</a>
                  </li>
                  
                
                </ul>
              </div>
              <!--Grid column-->
  
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">ABOUT US</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text">Who We Are</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Press & Reviews</a>
                  </li>
                  <li>
                    <a href="#!" class="text">DMV Genie App (iOS/Android)</a>
                  </li>
                  <li>
                    <a href="#!" class="text">For Libraries</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Contact Us</a>
                  </li>
                </ul>
              </div>
              <!--Grid column-->
  
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">RESOURCES</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="text">Driving Simulator</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Bill of Sale Form</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Driving Statistics</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Virtual DMV Assistant</a>
                  </li>
                  <li>
                    <a href="#!" class="text"> DMV Near Me</a>
                  </li>
                  <li>
                    <a href="#!" class="text">Beginner Driver's Guide</a>
                  </li>
  
                </ul>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->
          <div class="container_top">
            <p class="text-elegant">THE ELEGANT E-LEARNING NETWORK</p>
            <div>
              <a class="text-toptests" href="">toptests</a>
              <a class="text-toptests" href="">g1.ca</a>
              <a class="text-toptests" href="">tests.ca</a>
              <a class="text-toptests" href="">icbc knowledge test</a>
              <a class="text-toptests" href="">cna practice test</a>
              <a class="text-toptests" href="">nurse.plus</a>
              <a class="text-toptests" href="">bar exam hero</a>
            </div>
          </div>
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="">autopart.az</a>
          </div>
        </div>
        <!-- Grid container -->
        
  
        
        <!-- Copyright -->
      
        <!-- Copyright -->
      </footer>
      <!-- Footer -->